<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>University of California San Diego</li>
    <li>Department of Physics</li>
    <li>9500 Gilman Drive, San Diego 92092, USA</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Science Engineering and Research Facility</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:ssabhlok@ucsd.edu">ssabhlok@ucsd.edu</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://sanchitsabhlok.github.io">https://sanchitsabhlok.github.io</a></li>
  </ul>
</div>
